.page8{
	background-color:white;
	padding-bottom:3rem;
	padding-top:3.5rem;
}
.info{
	width:100%;
	border-bottom:2px solid #EE6308 ;
	border-top:2px solid #EE6308 ;
	padding:2rem;
	margin-top:2rem;	
}
.contact{
	padding-top:2rem;
}
.form{
	width:100%;
	border-bottom:2px solid #EE6308 ;
	border-top:2px solid #EE6308 ;
	padding-bottom:2rem;
}
.info iconify-icon{
	width:3rem;
	height:3rem;
	display:flex;
	font-size:1.5rem;
	border-radius:50%;
	background-color:#FDEDEC;
	color:#EE6308;
	float:left;
	justify-content:center;
	align-items:center;
}
.info iconify-icon:hover{
	background-color:#EE6308;
	color:white;
}
.info h4{
	font-size:1.5rem;
	padding-left:4rem;
	color:#472813 ;
}
.info p{
	padding-left:4rem;
}
.but{
	color:white;
	background-color:#EE6308;
	border:1px solid #EE6308;
	/* font-size:1.3rem; */
	border-radius:8px;
	padding:0.4rem;
}
.send{
	padding-top:2rem;
	text-align:center;
	padding-bottom:1.4rem;
	width:100%;
}