.page5{
	background-color:#fef8f5;
	padding-bottom:2rem;
	padding-top:2rem;
}
.accordion-item{
		background-color:#fef8f5;
}
.accordion-button{
	background-color:#fef8f5 !important;
	font-size:1.2rem;
}
.accordion-button:hover{
	color:#c54811;
}